html, body{
  color: #fff;
  background-color: #21232A;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  padding: 70px;
}

button{
  padding: 8px;
  font-size: 1.3rem;
  background-color: black;
  margin-right: 10px;
  color: #fff;
  border-radius: 15%;
}